@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">A public page!</h1>
    <p class="lead">Authorized users have access to a list of <a asp-area="" asp-controller="Writers" asp-action="Index">Writers</a> and their books.</p>
    <hr class="my-4">
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>